<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.street.mapper.AdminMapper">
    <insert id="AdminAdd" parameterType="com.street.bean.Admin">
        insert into t_admin (admin_account, admin_password)
        VALUE (#{admin_account},#{admin_password})
    </insert>

    <select id="AdminLogin" parameterType="com.street.bean.Admin" resultType="com.street.bean.Admin">
        select *
        from t_admin
        where admin_account = #{admin_account} and admin_password = #{admin_password}
        ;
    </select>

    <select id="UserSelect" parameterType="com.street.bean.Admin" resultType="com.street.bean.Admin">
        select *
        from t_admin
        where admin_account = #{admin_account}
        ;
    </select>

    <select id="MenuSelect" parameterType="com.street.bean.Menu" resultType="com.street.bean.Menu">
        select *
        from t_menu
        where menu_id = #{menu_id},menu_name = #{menu_name},parentid = #{parentid},path = #{path}
        ;
    </select>
</mapper>
