<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.street.mapper.AdminMapper">
        <update id="queryall" parameterType="com.street.bean.Admin">
            update t_admin set admin_jurisdiction = {#admin_jurisdiction} where admin_account = {#admin_account};
        </update>
        <select id="allchaxun" resultType="com.street.bean.Admin">
            select * from t_admin;
        </select>
    <!--————————————————————————————————————————————————————————-->
    <!--    【【【————【【管理用户 相关】】————】】】-->
    <!--                管理用户 添加-->
    <insert id="gmusercharu" parameterType="com.street.bean.Admin">
        insert into t_admin (admin_account,admin_password,admin_username,admin_jurisdiction,create_time,update_time)
            value ({#admin_account},{#admin_password},{#admin_username},{#admin_jurisdiction},{#create_time},{#update_time});
    </insert>
    <!--            管理用户 删除-->
    <delete id="gmusdershanchu" parameterType="com.street.bean.Admin">
        delete from t_admin where admin_account = {#admin_account};
    </delete>
    <!--            管理用户 修改-->
    <update id="gmuserxiugai" parameterType="com.street.bean.Admin">
        update t_admin set admin_account = {#admin_account},admin_password = {#admin_password, admin_username = {#admin_username}
        where admin_account = {#admin_account};
    </update>
    <!--                    管理用户 查询-->
    <select id="gmuserchaxun" resultType="com.street.bean.Admin">
        select * from t_admin where admin_account = {#admin_account} and admin_username = {#admin_username};
    </select>

</mapper>
