<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.street.mapper.RecruitMapper">
    <select id="queryRecruit" parameterType="String" resultType="com.street.bean.RecuitEnterprise">
        select * from t_recruit,t_enterprise where recruit_post_id = enterprise_id
    </select>

    <select id="queryRecruitID" parameterType="String" resultType="com.street.bean.RecuitEnterprise">
        select * from t_recruit,t_enterprise where recruit_post_id = enterprise_id and recruit_id = #{recruit_id}
    </select>

    <select id="querysearchall" parameterType="com.street.bean.RecuitEnterprise" resultType="com.street.bean.RecuitEnterprise">

        select DISTINCT * from
        t_recruit t1,t_enterprise t2
        where recruit_post_id = enterprise_id
        and (t2.enterprise_name like concat('%',#{enterprise_name},'%') or t1.position like concat('%',#{position},'%'))
    </select>

    <select id="selectEnterpriseAdopt" parameterType="map" resultType="com.street.bean.RecuitEnterprise">
        SELECT * from delivery t1,t_user t2,t_enterprise t3,t_recruit t4 WHERE t1.userid = t2.user_id and t1.enid = t3.enterprise_id and t1.reid = t4.recruit_id and t1.userid =#{userid} and t1.state='adopt'
    </select>

    <select id="selectEnterpriseAdoptid" parameterType="map" resultType="com.street.bean.RecuitEnterprise">
        SELECT * from delivery t1,t_user t2,t_enterprise t3,t_recruit t4 WHERE t1.userid = t2.user_id and t1.enid = t3.enterprise_id and t1.reid = t4.recruit_id and t1.id=#{id}
    </select>

</mapper>
