<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.street.mapper.UserMapper">
    <select id="queryall" resultType="com.street.bean.User">
        select * From t_user
    </select>

    <select id="queryUser" parameterType="String" resultType="com.street.bean.User">
        select * From t_user where openid = #{openid}
    </select>
    <select id="queryphoneUser" resultType="com.street.bean.User">
        select * From t_user where user_telephone = #{phone}
    </select>

    <update id="updeteopenid" parameterType="com.street.bean.User">
        update t_user set openid = #{openid},userimg = #{userimg} where user_id = #{user_id}
    </update>
</mapper>

