<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.street.mapper.UserMapper">
    <select id="queryall" resultType="com.street.bean.User">
        select * From t_user;
    </select>
<!--————————————————————————————————————————————————————-->
<!--    【【【【【【用户求职相关】】】】】】-->
    <!--    用户求职表-->
    <!--            用户求职表 插入-->
    <insert id="yhqzcharu" parameterType="com.street.bean.User">
        insert into t_user (user_name,user_pwd,user_id_card,user_nation,user_sex,user_date_birth,user_telephone,user_mail
        ,user_school_name,user_major,user_education,user_residence,user_graduation_time,create_time,update_time,user_age)
            value ({#user_name},{#user_pwd},{#user_id_card},{#user_nation},{#user_sex},{#user_date_birth},{#user_telephone}
            ,{#user_email},{#user_school_name},{#user_major},{#user_education},{#user_residence},{#user_graduation_time}
            ,{#create_time},{#update_time},#{#user_age});
    </insert>
    <!--            用户管理【删除】-->
    <!--             or 是同时判断并满足条件-->
    <delete id="yhcxshanchu" parameterType="com.street.bean.User">
        delete from t_user where user_id_card = {#user_id_card};
    </delete>
    <!--        用户管理【修改】-->
    <update id="yhqzxiugai" parameterType="com.street.bean.User">
        update t_user set user_name = {#user_name},user_id_card = {#user_id_card}
        where user_name = {#user_name};
    </update>
<!--        用户求职表格查询-->
    <select id="yhqzchaxun" parameterType="com.street.bean.User">
        select * from t_user where user_name = {#user_name} and user_id_card = {#user_id_card};
    </select>

<!--————————————————————————————————————————————————————————-->
<!--    【【【【管理用户表格】】】】】-->
    <!--    【【【————【【管理用户 相关】】————】】】-->
    <!--                管理用户 添加-->
    <insert id="gmusercharu" parameterType="com.street.bean.Admin">
        insert into t_admin (admin_account,admin_password,admin_username,admin_jurisdiction,create_time,update_time)
            value ({#admin_account},{#admin_password},{#admin_username},{#admin_jurisdiction},{#create_time},{#update_time});
    </insert>
    <!--            管理用户 删除-->
    <delete id="gmusdershanchu" parameterType="com.street.bean.Admin">
        delete from t_admin where admin_account = {#admin_account};
    </delete>
    <!--            管理用户 修改-->
    <update id="gmuserxiugai" parameterType="com.street.bean.Admin">
        update t_admin set admin_account = {#admin_account},admin_password = {#admin_password, admin_username = {#admin_username}
        where admin_account = {#admin_account};
    </update>
<!--                    管理用户 查询-->
    <select id="gmuserchaxun" parameterType="com.street.bean.Admin">
        select * from t_admin where admin_account = {#admin_account} and admin_username = {#admin_username};
    </select>

<!--    ——————————————————————————————————————————————- -->
<!--            【企业用户表】-->
<!--   企业用户表 【增加】-->
    <insert id="qyyhcharu" parameterType="com.street.bean.Enterprise">
insert into t_enterprise (enterprise_name,enterprise_acc,enterprise_pwd,enterprise_address,enterprise_operation_status,enterprise_time_of_establishment,enterprise_legal_person,enterprise_code,enterprise_type,enterprise_scale
        ,enterprise_recruitment_position,enterprise_financing_stage,create_time,update_time)
        value ({#enterprise_name},{#enterprise_acc},{#enterprise_pwd},{#enterprise_address},{#enterprise_operation_status}
            ,{#enterprise_time_of_establishment},{#enterprise_legal_person},{#enterprise_code},{#enterprise_type},
            {#enterprise_scale},{#enterprise_recruitment_position},{#enterprise_financing_stage},{#create_time},{#update_time});
    </insert>
<!--    企业用户表 删除-->
    <delete id="qyyhshanchu" parameterType="com.street.bean.Enterprise">
        delete from t_enterprise where enterprise_name = {#enterprise_name};
    </delete>

<!--        企业用户表 修改-->
    <update id="qyyhxiugai" parameterType="com.street.bean.Enterprise">
        update t_enterprise set enterprise_name = {#enterprise_name},enterprise_address = {#enterprise_address}
            where enterprise_name = {#enterprise_name};
    </update>
    <!--    企业用户表[查询]-->
    <select id="qyyhchaxun" parameterType="com.street.bean.Enterprise">
        select * from t_enterprise where enterprise_name = {#enterprise_name} and enterprise_acc = {#enterprise_acc};
</select>

<!--————————————————————————————————————————————————————————-->
<!--    【【【【【高校用户表】】】】】】-->

<!--        高校用户表 添加/增-->
    <insert id="gxyhcharu" parameterType="com.street.bean.University">
        insert into t_university (university_name,university_code,university_corporate_ID_number,university_password
        ,university_profile,create_time,update_time)value(
            {#university_name},{#university_code},{#university_corporate_ID_number},{#university_password}
            ,{#university_profile},{#create_time},{#update_time});
    </insert>

<!--    高校用户表 删除-->
    <delete id="gxyhshanchu" parameterType="com.street.bean.University">
        delete from t_university where university_name = {#university_name};
    </delete>

<!--    高校用户表 查询-->
    <select id="gxyhchaxun" parameterType="com.street.bean.University">
        select * from t_university where university_name = {#university_name} and university_code = {#university_code};
    </select>

<!--    ——————————————————————————————————————————————————————————————&#45;&#45;-->
<!--    【【【【【岗位相关】】】】】-->
    <!--        岗位表格的插入【添加】-->
    <insert id="gwcharu" parameterType="com.street.bean.Post">
        --         into 表格 bean字段 对应 数据库字段
        insert into t_post (post_name,post_type,post_salary) values ({#post_name},{#post_type},{#post_salary});
    </insert>
    <!--                岗位表格删除-->
    <delete id="gwshanchu" parameterType="com.street.bean.Post">
        --         or 是同时判断并满足条件
        delete from t_post where post_name = {#post_name};
    </delete>
    <!--            岗位表格修改-->
    <update id="gwxiugai" parameterType="com.street.bean.Post">
        --         where 是写数据库内的元数据，set 后面字段是需要改成什么样的数据
        update t_post set post_name = {#post_name},post_type = {#post_type},
            post_salary = {#post_salary} where post_salary = {#post_salary} and
            post_education_requirements = {#post_education_requirements};
    </update>
<!--    岗位表格的查询-->
    <select id="gwchaxun" resultType="com.street.bean.Post">
--         字段是bean内的，where bean字段对应数据库字段
        select * from t_post where post_name={#post_name} and post_type={#post_type} and post_salary={#post_salary};
    </select>



</mapper>

