<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.street.mapper.EnterprideMapper">
    <insert id="addEnterpride" parameterType="com.street.bean.Enterprise">
        insert into t_enterprise (enterprise_name, enterprise_acc, enterprise_pwd, enterprise_address,
                                  enterprise_operation_status, enterprise_time_of_establishment,
                                  enterprise_legal_person, enterprise_code, enterprise_type, create_time)
            VALUE (#{enterprise_name},#{enterprise_acc},#{enterprise_pwd},#{enterprise_address},#{enterprise_operation_status},#{enterprise_time_establishment},#{enterprise_legal_person},#{enterprise_code},#{enterprise_type},#{create_time})
    </insert>

    <select id="queryEnterpride" parameterType="String" resultType="com.street.bean.Enterprise">
        select *
        from t_enterprise
        where enterprise_acc = #{enterprise_acc}
        ;
    </select>

    <select id="enterprideLogin" parameterType="com.street.bean.Enterprise" resultType="com.street.bean.Enterprise">
        select *
        from t_enterprise
        where enterprise_acc = #{enterprise_acc}
          and enterprise_pwd = #{enterprise_pwd}
        ;
    </select>

    <select id="HotEnterprise" parameterType="com.street.bean.Enterprise" resultType="com.street.bean.Enterprise">
        select *
        from t_enterprise limit 5,6;
    </select>
    <select id="AllEnterprise" parameterType="com.street.bean.Enterprise" resultType="com.street.bean.Enterprise">
        select * from t_enterprise;
    </select>

    <update id="ChangePwd" parameterType="com.street.bean.Enterprise">
        update t_enterprise set enterprise_pwd = #{enterprise_pwd} where enterprise_acc = #{enterprise_acc};
    </update>


    <select id="queryEnterpriseCoordinate" parameterType="String" resultType="string">
        select enterprise_coordinate
        from t_enterprise
        where enterprise_name = #{enterprise_name}
        ;
    </select>
    <select id="queryEnterprideData" parameterType="com.street.bean.Enterprise" resultType="com.street.bean.Enterprise">
        select *
        from t_enterprise
        where enterprise_acc = #{enterprise_acc}
        ;
    </select>
    <update id="increaseEnterprideBalance" parameterType="com.street.bean.Enterprise">
        update t_enterprise
        set enterprise_account_balance=enterprise_account_balance + #{enterprise_account_balance}
        where enterprise_acc = #{enterprise_acc};
    </update>
    <select id="queryEnterprideIntro" parameterType="com.street.bean.Enterprise"
            resultType="com.street.bean.Enterprise">
        select *
        from t_enterprise
        where enterprise_name = #{enterprise_name}
        ;
    </select>
</mapper>
