<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.street.mapper.ResumeMapper">
    <select id="AllResume" parameterType="com.street.bean.Resume" resultType="com.street.bean.Resume">
        select * from t_resume order by resume_id desc limit 0,10;
    </select>
</mapper>
