<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--        开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!-- 开启驼峰命名规则 ，可以将数据库中的下划线映射为驼峰命名
		 	例如：last_name可以映射为lastName
		 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>

